<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Information</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css"> 
    <script src="https://kit.fontawesome.com/d28bf72700.js" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
    <style>
        .table th {
            border-width:0 2px 0 0;
        }
        .table td {
            border-width: 0 0 0 2px;
        }
    </style>
</head>
<body>
    <div class="columns is-centered">
        <div class="column is-8" style="padding: 10rem 0px">
            <div class="box"> 
                <div class="notification is-primary">
                    <p class="title is-1" style="text-align:center"><b>Task for <%= user.name %>:</b> <%= task %></p>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-4 is-parent">
                        <div class="tile is-child message is-primary is-light">
                            <div class="message-body">
                                <table class="table is-fullwidth has-background-primary-light">
                                    <tr>
                                        <th style="width:20%">For</th>
                                        <td><%= reason %></td>
                                    </tr>
                                    <tr>
                                        <th>Priority</th>
                                        <td><%= priority %></td>
                                    </tr>
                                    <tr>
                                        <th>Length</th>
                                        <td><%= length %> <%= time_unit %></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child message">
                            <div class="message-header">
                                <p>Task Description</p>
                            </div>
                            <div class="message-body">
                                <p>
                                    <%= desc %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons is-centered">
                    <button type="button" class="button is-primary is-rounded js-modal-trigger" data-target="edit-modal">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-wrench"></i>
                            </span>
                            <span>Edit</span>
                        </span>
                    </button>
                    <button type="button" class="button is-danger is-rounded js-modal-trigger" data-target="delete-modal">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                            <span>Delete</span>
                        </span>
                    </button>
                    <button type="button" onclick="location.href='/list'" class="button is-primary is-rounded">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-house"></i>
                            </span>
                            <span>Return to Task List</span>
                        </span>
                    </button>
                    <button onclick="location.href='/logout'" type="button" class="button is-danger is-rounded">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            <span>Log Out</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Edit modal-->
    <div class="modal" id="edit-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <form method="post">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="message is-primary">
                                <div class="message-header">Edit Information</div>
                                <div class="message-body">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">For</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <div class="select">
                                                        <select name="for">
                                                            <option value="2">School</option>
                                                            <option value="1">Self</option>
                                                            <option value="3">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <p class="help">What is this task for?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Priority</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <div class="select">
                                                        <select name="priority">
                                                            <option value="1">Low</option>
                                                            <option value="2">Medium</option>
                                                            <option value="3">High</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <p class="help">How urgent is it?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Length</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field is-narrow">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input" type="number" name="length">
                                                    </div>
                                                    <div class="control">
                                                        <div class="select">
                                                            <select name="time_unit">
                                                                <option value="1">minutes</option>
                                                                <option value="2">hours</option>
                                                                <option value="3">years</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="help">How long will it take?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="message" style="height:370px">
                                <div class="message-header">Edit Description</div>
                                <div class="message-body">
                                    <textarea class="textarea" rows="11" placeholder="Add a new description to the task here." style="resize:none" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons is-centered">
                        <button class="button is-primary is-rounded" type="submit">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-check"></i>
                                </span>
                                <span>Submit</span>
                            </span>
                        </button>
                        <button onclick="location.href='/list/task/<%= id %>'" class="button is-rounded" type="button">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-x"></i>
                                </span>
                                <span>Cancel</span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Delete modal-->
    <div class="modal" id="delete-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="message is-danger is-light">
                <div class="message-body">
                    <p class="subtitle is-8 has-text-danger"><b>Are you sure about this?</b></p>
                    <p style="margin-bottom: 1.5rem;">Deleting this task will remove it forever. If you want to put it back, you will need to add it again yourself. Although I'm sure that's not much of a problem.</p>
                    <div class="control" style="text-align:center">
                        <button onclick="location.href='/list/task/<%= id %>/delete'" type="button" class="button is-danger is-rounded">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-check"></i>
                                </span>
                                <span>Confirm</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>